
<style>
</style>

<main class="main">
  <!-- Page Loader
========================================================= -->
<div class="loader" id="page-loader"> 
  <div class="loading-wrapper">
    <div class="tp-loader spinner"></div>
    <!-- Edit With Your Name -->
    <div class="side-menu-name">
      Joe <strong>Godleski</strong>
    </div>
    <!-- /Edit With Your Name -->
    <!-- Edit With Your Job -->
    <p class="side-menu-job">{{JobTitle}}</p>
    <!-- /Edit With Your Job -->
  </div>   
</div>
<!-- /End of Page loader
========================================================= -->

<!-- SIDE MENU
========================================================= -->
<div class="side-menu-open hidden-sm hidden-xs">
  <!-- Menu-button -->
    <a href="#" class="btn btn-default side-menu-button"><i class="fa fa-bars"></i> MENU</a>
  <!-- /menu-button -->
</div>
<!-- Side Menu container -->
<div class="side-menu">
  <!-- close button -->
  <span id="side-menu-close"><i class="fa fa-times"></i></span>
  <!-- /close button -->

  <!-- Menu header -->
  <div class="side-menu-name">
    <!-- edit with your name -->
    Joe <strong>Godleski</strong>
    <!-- /edit with your name -->
  </div>
  <!-- edit with your Job -->
  <p class="side-menu-job">{{JobTitle}}</p>
  <!-- /edit with your job -->
  <!-- /Menu Header -->

  <!-- Main Navigation -->
  <nav id="side-menu" class="side-menu-este">
    <ul class="nav side-menu-nav">
      <li><a href="#intro"><i class="fa fa-angle-right"></i> Intro</a></li>
      <li><a href="#skills"><i class="fa fa-angle-right"></i> Skills</a></li>
      <li><a href="#portfolio"><i class="fa fa-angle-right"></i> Portfolio</a></li>
      <li><a href="#works"><i class="fa fa-angle-right"></i> Experience</a></li>
      <li><a href="#education"><i class="fa fa-angle-right"></i> Education</a></li>
      <!-- <li><a href="#interests"><i class="fa fa-angle-right"></i> Interests</a></li> -->
    </ul>
  </nav>
  <!-- /Main Navigation-->

  <!-- Other Buttons -->
  <div class="side-menu-buttons">
    <a href="../assets/JoeGodleskiResume2024.pdf" download="JoeGodleskiResume.pdf" class="btn btn-side-menu"><i class="fa fa-download"></i> Download my resume</a>
  </div>
  <!-- /Other Buttons-->
</div>
<!-- /side menu container -->

<!-- /SIDE MENU
========================================================= -->

<!-- CONTENT
========================================================= -->
<section id="content-body" class="container animated">
  <div class="row" id="intro">

    <!-- Header Colors -->
    <div class="col-md-10 col-sm-10  col-md-offset-2 col-sm-offset-1 clearfix top-colors">
      <div class="top-color top-color1"></div>
      <div class="top-color top-color2"></div>
      <div class="top-color top-color3"></div>
      <div class="top-color top-color1"></div>
      <div class="top-color top-color2"></div>
    </div>
    <!-- /Header Colors -->    
    
    <!-- Beginning of Content -->
    <div class="col-md-10 col-sm-10 col-md-offset-2 col-sm-offset-1 resume-container">
      
      <!-- Header Buttons -->
      <div class="row">
        <div class="header-buttons col-md-10 col-md-offset-1">
          <!-- Download Resume Button -->
          <a href="../assets/JoeGodleskiResume2024.pdf" download="JoeGodleskiResume.pdf" class="btn btn-default btn-top-resume"><i class="fa fa-download"></i><span class="btn-hide-text">Download my resume</span></a>
          <!-- /Download Resume Button -->
        </div>
      </div>
      <!-- /Header Buttons -->

      <!-- =============== PROFILE INTRO ====================-->
      <div class="profile-intro row">
        <!-- Left Collum with Avatar pic -->
        <div class="col-md-4 profile-col">
          <!-- Avatar pic -->
          <div class="profile-pic">
            <div class="profile-border">
              <!-- Put your picture here ( 308px by 308px for retina display)-->
              <img src="assets/selfie_188height.png" alt="" style="object-fit:none;">
              <!-- /Put your picture here -->
            </div>          
          </div>
           <!-- /Avatar pic -->
        </div>
        <!-- /Left columm with avatar pic -->
  
        <!-- Right Columm -->
        <div class="col-md-7">
          <!-- Welcome Title-->
          <h1 class="intro-title1">Hi, i'm <span class="color1 bold" style="word-break: keep-all; white-space: nowrap;">Joe Godleski</span></h1>
          <!-- /Welcome Title -->
          <!-- Job - -->
          <!-- <h2 class="intro-title2">{{JobTitle}}</h2> -->
          <!-- /job -->
          <!-- Description -->
          <p>I'm a <strong>full-stack web application</strong> developer, based in Atlanta, Georgia, with 15 years of experience. I'm looking for a <strong>fully remote, full-stack, senior level</strong> position, with ideally more frontend work than backend.</p>
          <!-- /Description -->
        </div>
        <!-- /Right Collum -->
      </div>
      <!-- ============  /PROFILE INTRO ================= -->
      
      <!-- ============  TIMELINE ================= -->
      <div class="timeline-wrap">
        <div class="timeline-bg">

          <!-- ====>> SECTION: PROFILE INFOS <<====-->
          <section class="timeline profile-infos">

            <app-timeline-vertical-margin></app-timeline-vertical-margin>

            <app-section-title [Title]="'Profile'"></app-section-title>

            <app-section-item [TimelineClassType]="'timeline-point'" [Subtitle]="'Location'">
              <p>Atlanta, Georgia</p>
            </app-section-item>

            <app-section-item [TimelineClassType]="'timeline-point'" [Subtitle]="'Email'">
              <p>ixeldog&#64;gmail.com</p>
            </app-section-item>

            <app-section-item [TimelineClassType]="'timeline-point'" [Subtitle]="'Background'">
              <p>The first part of my career I worked for a <a href="https://www.sisfirst.com/" target="_blank" title="Surgical Information Systems">Medical software company</a>. Mostly as part of a very small team, doing full-stack development, and working with Oracle, Java, and HTML/JavaScript/CSS.</p>
              <p>The last 7 years I've worked for a <a href="https://fieldedge.com/" target="_blank" title="FieldEdge">Field Services software company</a>, doing both front and backend work on the in-office Dispatcher web application, in addition to multiple backend integrations.</p>
            </app-section-item>

            <app-section-item [TimelineClassType]="'timeline-point'" [Subtitle]="'Technologies'">
              <p>I'm currently most familiar with SQL Server, C#, JavaScript, and CSS, but I have various levels of experience with other languages and technologies.</p>
            </app-section-item>

            <!-- TODO: delete, if not going to use -->
            <!-- <app-section-item [TimelineClassType]="'timeline-point'" [Subtitle]="'Find Me On'">
              <a href="#" class="btn btn-default"><i class="fa fa-facebook"></i></a> 
              <a href="#" class="btn btn-default"><i class="fa fa-twitter"></i></a>
              <a href="#" class="btn btn-default"><i class="fa fa-linkedin"></i></a>
              <a href="#" class="btn btn-default"><i class="fa fa-link"></i></a>
              <a href="#" class="btn btn-default"><i class="fa fa-paper-plane-o"></i></a>
            </app-section-item> -->
            
          </section>
          <!-- ==>> /SECTION: PROFILE INFOS -->    
          
          
          <!-- ====>> SECTION: SKILLS <<====-->
          <section class="timeline skills" id="skills">

            <app-timeline-vertical-margin></app-timeline-vertical-margin>

            <app-section-title [Title]="'Skills'"></app-section-title>

            <div style="position: relative;">
              <div *ngIf="SkillGroups.length > 0">
                <app-section-item *ngFor="let skillGroup of SkillGroups; index as i" [@inOutAnimation] [TimelineClassType]="'timeline-point'" [Subtitle]="skillGroup.GroupLabel">
                  <app-skill-group [Skills]="skillGroup.Skills"></app-skill-group>
                </app-section-item>
              </div>
              <div *ngIf="SkillGroups == null || SkillGroups.length === 0">
                <ngx-spinner type="ball-clip-rotate-pulse" [fullScreen]="false" size="medium"></ngx-spinner>
              </div>
            </div>


          </section>
          <!-- ==>> /SECTION: SKILLS -->



          <!-- ====>> SECTION: Portfolio <<====-->
          <section class="timeline work-experience" id="portfolio">

            <app-timeline-vertical-margin></app-timeline-vertical-margin>

            <app-section-title [Title]="'Portfolio'"></app-section-title>

            <app-section-item [TimelineClassType]="'timeline-work'" [AddExtraVerticalSpace]="true" [Subtitle]="'ixeldog.com'">
              <div class="job-description">
                <p>This website. Converting an <a href="http://preview.themeforest.net/item/vertica-wp-resume-cv-portfolio/full_screen_preview/10311740" target="_blank">HTML static Theme</a> into an Angular application. Creating components for repeated HTML, refactored 1300 lines of HTML to 600.</p>
                <p><a href="https://github.com/ixeldog/resume2024">GitHub repository</a></p>
              </div>
            </app-section-item>

          </section>
          <!-- ==>> /SECTION: Portfolio <<==== --> 




          <!-- ====>> SECTION: Experience <<====-->
          <section class="timeline work-experience" id="works">

            <app-timeline-vertical-margin></app-timeline-vertical-margin>

            <app-section-title [Title]="'Experience'"></app-section-title>

            <!-- FieldEdge -->
            <app-section-item [TimelineClassType]="'timeline-work'" [AddExtraVerticalSpace]="true" [Subtitle]="'FieldEdge'" [LinkUrl]="'https://fieldedge.com/'">
              <h4 class="job"><i class="fa fa-flag"></i> FieldEdge Web - <span class="job-date">Aug 2017 - Current</span></h4>
              <div class="job-description">
                <p>Maintaining and enhancing web application originally written using C#, ASP .NET and Knockout javascript library, but is being migrated to Vue 2.</p>
              </div>

              <div style="padding: 4px 0px;"></div>

              <h4 class="job"><i class="fa fa-flag"></i> Consumer Management Portal - <span class="job-date">Mar 2023 - Dec 2023</span></h4>
              <div class="job-description">
                <p>Replacement for existing Consumer Portal. Web application which allows our Member's Customers to login, view Invoices and Quote, make Payments, and schedule Appointments.</p>
              </div>

              <div style="padding: 4px 0px;"></div>

              <h4 class="job"><i class="fa fa-flag"></i> Live Cost integration - <span class="job-date">Sept 2022 - Mar 2023</span></h4>
              <div class="job-description">
                <p>Backend integration to allow our Members to automatically update their Item costs from <a href="https://entsellingsolutions.com/">ESS</a>'s database.</p>
              </div>

              <div style="padding: 4px 0px;"></div>

              <h4 class="job"><i class="fa fa-flag"></i> Proposal Pro integration - <span class="job-date">Oct 2021 - Jul 2022</span></h4>
              <div class="job-description">
                <p><a href="https://entsellingsolutions.com/hvac-proposal-software/">Proposal Pro</a> is a third-party multiple-option Quote building web application. Created backend integration to sync between systems, and necessary frontend enhancements in FE Web.</p>
              </div>

              <div style="padding: 4px 0px;"></div>

              <h4 class="job"><i class="fa fa-flag"></i> Docusign integration - <span class="job-date">Nov 2020 - Feb 2021</span></h4>
              <div class="job-description">
                <p>Integrated Consumer Portal with <a href="https://www.docusign.com/">Docusign</a> so our Member's Customers can review, accept, and sign a Quote, authorizing our Member to order parts and schedule work.</p>
              </div>

              <div style="padding: 4px 0px;"></div>

              <h4 class="job"><i class="fa fa-flag"></i> Consumer Portal - <span class="job-date">Jun 2018 - April 2019</span></h4>
              <div class="job-description">
                <p>Simple web portal for our Member's Customers to be able to view an Invoice and make a payment, using <a href="https://clearent.com/">Clearent</a> payment provider.</p>
              </div>

              <div style="padding: 4px 0px;"></div>

              <h4 class="job"><i class="fa fa-flag"></i> Layout Templates - <span class="job-date">Aug 2017 - Jun 2018</span></h4>
              <div class="job-description">
                <p>Created a Layout Template designer which allows users to add/remove, drag/drop, and resize pre-defined data elements in a template. Then a given template can be populated for a given Invoice, rendered into a PDF, and sent to the end Customer attached to an email.</p>
              </div>
            </app-section-item>
            
            <!-- SIS -->
            <app-section-item [TimelineClassType]="'timeline-work'" [AddExtraVerticalSpace]="true" [Subtitle]="'Surgical Information Systems'" [LinkUrl]="'https://www.sisfirst.com/'">
              <h4 class="job"><i class="fa fa-flag"></i> Project Mercury - <span class="job-date">Fall 2014 — Summer 2017</span></h4>
              <div class="job-description">
                <p>Rewriting legacy application for the Cloud using TypeScript, Angular 1.4, and SASS on the frontend, .NET Web API webservices, and a SQL Server database. Transitioned to Angular 4 in Spring 2017.</p>
              </div>

              <div style="padding: 4px 0px;"></div>
              
              <h4 class="job"><i class="fa fa-flag"></i> SIS Com - <span class="job-date">Spring 2009 — Fall 2014</span></h4>
              <div class="job-description">
                <p>Maintaining and enhancing an existing patient tracking application. Flash displays launched and configured through a web portal and pulling information from Java based Rules Engine and Message Router and an Oracle database.</p>
              </div>
            </app-section-item>

          </section>
          <!-- ==>> /SECTION: Experience <<==== --> 


          <!-- ====>> SECTION: EDUCATION <<====-->
          <section class="timeline education" id="education">

            <app-timeline-vertical-margin></app-timeline-vertical-margin>

            <app-section-title [Title]="'Education'"></app-section-title>
            
            <app-section-item [TimelineClassType]="'timeline-education'" [AddExtraVerticalSpace]="true" [Subtitle]="'Southern Polytechnic State University'" [LinkUrl]="'https://engineering.kennesaw.edu/'">
              <h4 class="graduation-time"><i class="fa fa-university"></i> B.S. Computer Science - <span class="graduation-date">Graduation Fall 2008</span></h4>
              <div class="graduation-description">
                <p></p>
              </div>
            </app-section-item>  
  
          </section>
          <!-- ==>> /SECTION: EDUCATION <<==== -->  


          <!-- ====>> SECTION: INTERESTS <<====-->
          <!-- <section class="timeline" id="interests">

            <app-timeline-vertical-margin></app-timeline-vertical-margin>

            <app-section-title [Title]="'Interests'"></app-section-title>

            <app-section-item [TimelineClassType]="'timeline-point'" [Subtitle]="'Art'">
              <p>Praesent tellus ligula, tincidunt et fringilla vel, tincidunt ut dui. Nulla feugiat, lacus ac malesuada lobortis, elit nunc congue nunc, vel imperdiet lorem leo a lectus.</p>
            </app-section-item>
            
            <app-section-item [TimelineClassType]="'timeline-point'" [Subtitle]="'Games'">
              <p>Praesent tellus ligula, tincidunt et fringilla vel, tincidunt ut dui. Nulla feugiat, lacus ac malesuada lobortis, elit nunc congue nunc, vel imperdiet lorem leo a lectus.</p>
            </app-section-item>

            <app-section-item [TimelineClassType]="'timeline-point-end'" [Subtitle]="'Books'">
              <p>Praesent tellus ligula, tincidunt et fringilla vel, tincidunt ut dui. Nulla feugiat, lacus ac malesuada lobortis, elit nunc congue nunc, vel imperdiet lorem leo a lectus.</p>
            </app-section-item>

          </section> -->
          <!-- ==>> /SECTION: INTERESTS -->


        </div>
      </div>
      <!-- ============  /TIMELINE ================= -->

      <!-- ============  FOOTER ================= -->
      <footer id="footer" class="row" style="padding-left: 50px; padding-right: 50px;">
        <!-- Put your Quote Here-->
        <p class="quote">“Any fool can write code that a computer can understand. Good programmers write code that humans can understand.”</p>
        <!-- /Quote -->
        <!-- Quote Autor -->
        <p class="author">Martin Fowler</p>
        <!-- /Quote Autor -->
      </footer>
      <!-- ============  /FOOTER ================= -->
    </div> 
  </div> 
</section>
<!-- /CONTENT
========================================================= -->


</main>



<!-- <router-outlet /> -->
